@model Movies.Model.VM.MovieVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Details</h1>
<div>
    <h4>Detail of Movies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <dd>
                <img src="@Model.Movies.Imageurl" style="width: 220px; height: 230px;" />
            </dd>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.DateOfRelease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.DateOfRelease)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark btn-sm" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}