@model List<movie>
<h1>hi mommy</h1>
<partial name="Notification"/>
<div class="container p-3">
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Product List </h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Movie" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Create new Movie Name
        </a>
    </div>
</div>
</div>
<table id="tbldata" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>DateOfRelease</th>
            <th>Actions</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.DateOfRelease</td>
               @* <td>@item.Imageurl</td>*@
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a href="/Admin/Product/Upsert?id=@item.Id"
                           class="btn btn-primary">
                            <i class="bi bi-pencil"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                            Delete
                        </a>
                        <a class="btn btn-warning">
                            <i class="bi bi-trash3"></i>
                            Details
                        </a>
                    </div>

                </td>
            </tr> 
        }
    </thead>
</table>
@section Scripts {
    <script>
        $('#tbldata').DataTable();
    </script>
}


   